.comment-div{
    /* border: 1px solid red; */
    width: 70%;
    margin-left: 15%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    margin-bottom:40px;
}
.comment-div >textarea{
    width: 90%;
    height: 40px;
    color: rgb(90, 89, 89);
    padding-left: 10px;
    border: none;
    border-bottom: 1.6px solid rgb(104, 103, 103);
    outline: none;
    /* border: 1px solid red; */

}
.comment-div .submit-btn{
    width: 17%;
    background-color: #ececec;
    border: none;
    font-weight: bold;
    padding: 0;
    height: 35px;
    margin-left: 3%;
    margin-top: 1%;
    border-radius: 5px;
    color: rgb(114, 113, 113);
}
.likeButoonComment{
    cursor: pointer;
    /* border: 1px solid red; */
}